body {
	padding-top: 70px;
}

/* Image Sizes */
.qw-img {
	border-radius: 5px;
}

.qw-img-sm {
	width: 44px;
}

.qw-img-md {
	width: 64px;
}

/* Home */
.qw-home-noquotes {
	padding-top: 40px;
	text-align: center;
	font-size: 28pt;
	color: #AAA;
	text-shadow: 1px 1px 2px #DDD;
}

.qw-home-noquotes > div {
	font-size: 52pt;
	-ms-transform: rotate(90def);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

/* Author */
.qw-author-name {
	font-weight: bold;
}

/* Quote Parts */
.qw-quote {
	padding: 20px;
	/*background: rgba(157,47,110,0.3);*/
	background: rgba(0,0,0,0.05);
	border-radius: 10px;
	margin-bottom: 20px;
}

.qw-quotepart {
	position: relative;
	background: white;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
	border-radius: 5px;
	margin-bottom: 10px;
}

.qw-quotepart:last-of-type {
	margin-bottom: 0;
}

.qw-quote.multi .qw-quotepart:nth-child(odd) {
	margin-right: 20px;
}

.qw-quote.multi .qw-quotepart:nth-child(even) {
	margin-left: 20px;
}

.qw-quotepart-content {
	margin: 0 10px;
	padding: 10px 0;
}

.qw-quotepart:nth-child(odd) .qw-quotepart-content {
	margin-left: 64px;
	text-align: left;
}

.qw-quotepart:nth-child(even) .qw-quotepart-content {
	margin-right: 64px;
	text-align: right;
}

.qw-quotepart-image {
	position: absolute;
	top: 0;
	width: 64px;
	height: 64px;
	padding: 10px;
}

.qw-quotepart:nth-child(odd) .qw-quotepart-image {
	left 0;
}

.qw-quotepart:nth-child(even) .qw-quotepart-image {
	right: 0;
}