<div ng-hide="quotes" class"col-lg-12">
	<div class="qw-home-noquotes">
		<p>No quotes to show yet...</p>
		<div>:(</div>
	</div>
</div>

<div class="col-sm-6 col-md-4" ng-repeat="quote in quotes">
	<div class="qw-quote" ng-class="{ multi: quote.quoteParts.length > 1 }">
		<div class="qw-quotepart" ng-repeat="quotePart in quote.quoteParts | orderBy: 'order'">
			<div class="qw-quotepart-image">
				<img class="qw-img qw-img-sm" ng-src="{{ quotePart.author.imageUrl }}" />
			</div>
			<div class="qw-quotepart-content">
				<div class-"qw-quotepart-head">
					<span class="qw-author-name">{{ quotePart.author.firstName }} {{ quotePart.author.surname }}</span>
					<span class="qw-quotepart-date"></span>
				</div>
				<p>
					{{ quotePart.content }}
				</p>
			</div>
		</div>
	</div>
</div>
